body {
    background: linear-gradient(-45deg, #310950, #4e0f46, #47389f, #5898b7);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
    height: 100vh;
}

footer {
    color: white;
    text-align:center;
    position: absolute;
    bottom: 0;
    left: 0; right: 0
}

.logo {
    width: 60px;
    height: 60px;
}
/*mettre un masque*/
.distanciationSociale {
    padding-left: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.panel{
    background: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
}
.panel .panel-heading{
    background-color: rgba(255,255,255,0.25);
    padding: 15px 15px;
    margin: 0;
    border-radius: 20px;
}
.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}
.panel .panel-heading .btn{
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}
.panel .panel-body{ padding: 15px; }
.panel .panel-body .table{ background: linear-gradient(transparent, rgba(255,255,255,0.2), transparent); }
.panel .panel-body .table thead tr th{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px;
    border: none;
}
.panel .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{
    text-shadow: 3px 3px 0 rgba(255,255,255,0.3);
}
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}
.panel .panel-footer{
    color: #fff;
    background-color: rgba(255,255,255,0.25);
    padding: 10px;
    border: none;
    border-radius: 20px;
}
.panel .panel-footer .col{ line-height: 30px; }
.pagination{ margin: 0; }
.pagination li a{
    color: rgba(255,255,255,0.4);
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.4);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 27px;
    width: 31px;
    height: 31px;
    padding: 0;
    margin: 0 3px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.pagination li:first-child a,
.pagination li:last-child a{
    border-radius: 10px;
    width: auto;
    padding: 0 10px;
}

.error403 .wrapper {
    position: relative;
    max-width: 1298px;
    height: auto;
    margin: 2em auto 0 auto;
    background: transparent url("https://www.dropbox.com/s/qq5n8w99q40wtrg/wood-fence.png?raw=1") no-repeat center top 24em;
}

/* https://www.vecteezy.com/vector-art/237238-dog-family-colored-doodle-drawing */
.error403 .box {
    max-width: 70%;
    min-height: 600px;
    margin: 0 auto;
    padding: 1em 1em;
    text-align: center;
    background: transparent url("https://www.dropbox.com/s/ft9vhk6720t1k86/dog-family-colored-doodle-drawing.jpg?raw=1") no-repeat top 10em center;
}

.error403 h1 {
    margin: 0 0 1rem 0;
    font-size: 8em;
    text-shadow: 0 0 6px #8b4d1a;
}

.error403 p {
    margin-bottom: 0.5em;
    font-size: 1.75em;
    color: #ea8a1a;
}

.error403 p:first-of-type {
    margin-top: 16em;
    text-shadow: none;
}

.error403 p > a {
    border-bottom: 1px dashed #837256;
    font-style: italic;
    text-decoration: none;
    color: #837256;
}

.error403 p > a:hover { text-shadow: 0 0 3px #8b4d1a; }

.errror403 p img { vertical-align: bottom; }

@media screen and (max-width: 600px) {
    .wrapper {
        background-size: 300px 114px;
        background-position: center top 22em;
    }

    .box {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        background-size: 320px 185px;
    }

    p:first-of-type { margin-top: 12em; }
}

@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .btn_group{ text-align: center; }
}