<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: headfiles">
</head>
<body>
<header th:insert="index :: headerfiles"></header>
<h1>Page Administrateur</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Titre</th>
        <th>Contenus</th>
        <th>Actions</th>
    </tr>
    <tr th:each="message, state : ${messages}">
        <td th:utext="${message.date}"></td>
        <td th:utext="${message.titre}"></td>
        <td th:utext="${message.contenu}"></td>
        <td>
            <form action="/voirmessage" method="post">
                <input th:value="${message.id}" type="hidden">
                <button name="id" value="afficher">Voir le message</button>
            </form>
            <form action="/promouvoir" method="post">
                <input th:value="${message.id}" type="hidden">
                <button name="promouvoir" value="afficher">Promouvoir</button>
            </form>
            <form action="/retrograde" method="post">
                <input th:value="${message.id}" type="hidden">
                <button name="retrograder" value="afficher">Rétrograder</button>
            </form>
            
        </td>
    </tr>
</table>
<footer th:insert="index :: footer"></footer>
</body>
</html>